<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to AS205479 Wifi</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script src="/static/postsignin.js" async defer></script>
	<meta name="next-url" content="{{.Next}}">
</head>
<body>
	<div id="box">
		<h1>Welcome to AS205479 Wifi</h1>
		<h2>Please wait while you're logged in...</h2>
		<p>This may take about a minute, and only happens the first time you connect to this wifi network from this device.</p>
	</div>
</body>
</html>
